/* add import font link here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Press+Start+2P&display=swap");

::placeholder {
  color: #E1E1E1;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #E1E1E1;
}

* {
  background-attachment: scroll;
}

body {
  /* add font here */
  font-family: "Poppins", sans-serif;
  background-color: #1c4589;
  color: #000000;
  margin: 0;
  padding: 0;
    text-shadow:
    -1px -1px 0 #000000, /* Top-left shadow (black) */
    1px -1px 0 #000000, /* Top-right shadow (black) */
    -1px 1px 0 #000000, /* Bottom-left shadow (black) */
    1px 1px 0 #000000; /* Bottom-right shadow (black) */
    overflow-x: hidden;
}

h1 {
  font-size: 50px;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #12a0d5;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 120%;
  color: #FFFFFF;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

footer {
  background: #1c4589;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  margin-top: 1em;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

img {
  border-radius: 30px;
}

.timer {

}

.pagecounter {
  background: #1c4589;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.button {
  background-color: #4a86e8;
  padding: 10px 20px;
}

.input {
  background: #1c4589;
  color: #FFFFFF;
  padding: 10px;
}

.play {
  background-color: #4a86e8;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 10px;
  width: 25%;
  
}


.background {
  position: center;
}

.backgroundIndex {
  margin-right:auto;
  margin-left: auto;
}

.background > .button {
  border: 1px solid #4a85e8;
  color: #FFFFFF;
  background: #4a85e8;
  padding: 5px 10px;
  border-radius: 3px;
  height: 40px;
  margin: 10px;
  position: center;
  bottom: -30px;
  width: 40%
}

.background > .input {
  border: none;
  color: #FFFFFF;
  background: #4a85e8;
  padding: 5px 10px;
  border-radius: 3px;
  height: 40px;
  margin: 10px;
  position: center;
  bottom: -30px;
  width: 25%
}
/* add keyframe animation for float  */
@keyframes float {
  0% {
    transform: scale(1);
    background: #1c4589;
    border: 1px solid #1c4589;
  }
  100% {
    transform: scale(1);
    background: #1c4589;
    border: 1px solid #1c4589;
  }
  50% {
    transform: scale(1.3);
    background: #1c4589;
    border: 1px solid #1c4589;
  }
}

@keyframes smallStretch {
  0% {
    background: #325FA8;
    border: 1px solid #325FA8;
    width: 40%;
  }
  100% {
    background: #325FA8;
    border: 1px solid #325FA8;
    width: 40%;
  }
  50% {
    background: #325FA8;
    border: 1px solid #325FA8;
    width: 50%;
  }
}

@keyframes stretchy {
  0% {
    background: #325FA8;
    border: 1px solid #325FA8;
    width: 20%;
  }
  100% {
    background: #325FA8;
    border: 1px solid #325FA8;
    width: 20%;
  }
  50% {
    background: #325FA8;
    border: 1px solid #325FA8;
    width: 25%;
  }
}
/* Write CSS which will apply the animation on button hovering */

.background > .button:hover {
  background: #325FA8;
  border: 1px solid #325FA8;
}

.backgroundIndex > .button:hover {
  transform: scale(1.05);
  animation: float 2s infinite;
  transition: top 0.2s ease;
}

.card > .button > img {
  width: 20%;
}

.background > .button > img {
  width: 20%;
}

.gameList {
  display:flex;
  flex-wrap: wrap;
  grid-template-columns: 60px 60px;
}

.card {
  padding: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0 3px 10px #4a68e8;
  border: 2px solid #4a68e8;
  transition: transform 1s;
  position: relative;
  visibility: visible;
  background: #1c4589;
}

.flex-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.card > .button {
  border: 1px solid #4a85e8;
  color: #FFFFFF;
  background: #4a85e8;
  padding: 5px 10px;
  border-radius: 3px;
  height: 40px;
  margin: 10px;
  position: center;
  bottom: -30px;
  width: 40%;
}

.card > .button:hover {
  animation: smallStretch 3s infinite;
  transition: top 0.2s ease;
}

.card > img {
  width: 70%;
  margin: 10px;
}